@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.headerContainer,
.cartHeader {
  border-bottom: 1px solid #f2f2f2;
  line-height: 0.9rem;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  width: 80%;
}

.headerContainer h1 {
  font-weight: 400;
}
.headerContainer p {
  font-size: 0.85rem;
}

.headerContainer .fa-cart-shopping {
  color: black;
  font-size: 2.5rem;
  position: absolute;
  top: 40px;
  right: 40px;
  transition: 0.3s;
}
.headerContainer .fa-cart-shopping:hover {
  color: #7daf74;
}

.addedInCart {
  background-color: red;
  border-radius: 100%;
  color: #f2f2f2;
  display: none;
  padding: 0.4rem;
  position: absolute;
  font-size: 1rem;
  top: 60px;
  right: 30px;
  width: 1rem;
  transition: 0.3s ease-in-out;
}

.container {
  display: flex;

  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 0;
  width: 80%;
  max-width: 1200px;
}

.product {
  width: 25%;
  max-width: 250px;
  min-width: 200px;
  text-align: center;
  border: 1px solid #f2f2f2;
}

.product:hover {
  box-shadow: 0 2px 3px 0 rgb(51 51 51 / 20%);
}

.product img {
  width: 100%;
  height: 150px;
}

.product .info {
  padding: 0.5rem;
}

.product .info .pavadinmas,
h4 {
  font-weight: 400;
}

.product .info h4 {
  font-size: 0.9rem;
  color: #7daf74;
}

.info .fa-star {
  font-size: 0.7rem;
  color: goldenrod;
}

.info button {
  background-color: #7daf74;
  border: none;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  transition: 0.3s;

  padding: 0.5rem 3rem;
}

.info button:hover {
  background-color: #92ca88;
}

/* Cart page css */

.cartHeader {
  text-align: left;
}

.cartContainer {
  padding: 2rem 0;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

table {
  width: 100%;
  text-align: center;
}

table td,
th {
  border-bottom: 1px solid #f2f2f2;
  padding: 2rem 0;
}

table tbody tr td img {
  width: 100px;
}
